<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button id="loginWithFacebook" class="btn btn-lg btn-block btn-facebook">Login with facebook</button>
    </div>
  </div>
</div>