<h1>Frenz</h1>

<ul id="menu">
  <li><a href="/profile" data-route>Your profile</a></li>
</ul>

<div id="login">
  <button id="login_with_facebook">Login with facebook</button>
</div>
<div id="userProfile">
  
</div>